{%extends 'index.html'%}
{%block body%}
<div class="row">
<div class="col-sm-12">
<h2 class="text-center p-5 text-primary" style="font-family: cursive;">ABOUT US</h2>
</div>
<div class="col-sm-6 p-5" style="font-weight: bold;">
    <p>फ़िरोज़ गांधी पॉलिटेक्निक (FGP), रायबरेली की स्थापना 1975 में हुई थी। FGP रायबरेली को अखिल भारतीय तकनीकी शिक्षा परिषद (AICTE), नई दिल्ली द्वारा अनुमोदित किया गया है। फ़िरोज़ गांधी पॉलिटेक्निक एक सह-शिक्षा महाविद्यालय है।
    </p>
    <p>तकनीकी जनशक्ति की कमी को दूर करने के लिए, और "रायबरेली पॉलिटेक्निक एसोसिएशन" की छत्रछाया में, FGP की स्थापना की गई थी। एफजीपी विभिन्न इंजीनियरिंग विषयों में डिप्लोमा पाठ्यक्रम प्रदान करता है।
    </p>
    <p>एफपीजी डिप्लोमा पाठ्यक्रमों के लिए आवेदन करने से पहले, उम्मीदवारों को पात्रता मानदंडों का मिलान करना आवश्यक है। इसके अलावा, उम्मीदवारों के पास जेईईसीयूपी का वैध स्कोरकार्ड होना चाहिए। 
    </p>
    
    
    </div>
    <div class="col-sm-6 p-5">
    
    
      <img class="img-item"  src="../static/img/slide1.jpg" alt="image os not showing" height="300px">
    </div>


</div>
{%endblock%}