{% extends 'findex.html' %}
{% block body%}

<h3 class="text-center p-5 text-primary ">Leave Application</h3>
<table class="table table-secondary">
<tr>
<th>Id</th>
<th>Name</th>
<th>Department</th>
<th>Subject</th>
<th>From</th>
<th>To</th>
<th>Reason</th>
<th>Status</th>
</tr>
{%for i in s%}
<tr>
<td>{{i.stdid}}</td>
<td>{{i.stdname}}</td>
<td>{{i.branch}}</td>
<td>{{i.subject}}</td>
<td>{{i.fr}}</td>
<td>{{i.to}}</td>
<td>{{i.msg}}</td>
{% if i.stdid %}
	{% if i.status %}
	<td><a href="{% url 'facaltyzone:accept' i.stdid %}">Accept</a></td>
	{% else %}
	<td><a href="{% url 'facaltyzone:reject' i.stdid %}">Reject</a></td>
	{% endif %}
{% else %}
	<td>-</td>
{% endif %}
</tr>
{%endfor%}
</table>
{%endblock%}