{% extends 'findex.html' %}
{% block body %}
<h3 class="text-center p-5 text-primary">view Attendence</h3>
<table class="table table-info ">
<tr>
<th>Id</th>
<th>Name</th>
<th>Department</th>
<th>Date</th>
<th>Attendence</th>

</tr>
{%for i in a%}
<tr>
<td>{{i.stdid}}</td>
<td>{{i.stdname}}</td>
<td>{{i.branch}}</td>
<td>{{i.date}}</td>
{%if i.status%}
<td><a href="{% url 'facaltyzone:pt' i.stdid%}">Present</a></td>
{%else%}
<td><a href="{% url 'facaltyzone:abt' i.stdid%}">Absent</a></td>
{%endif%}
</tr>
{%endfor%}

</table>
{%endblock%}
