{% extends 'adindex.html' %}
{% block body%}

<h3 class="text-center text-primary p-5"> Send Salary</h3>
<table class="table table-secondary">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Date</th>
        <th>Send</th>
    </tr>
    {% for i in e%}
    <tr>
        <td>{{i.fid}}</td>
        <td>{{i.fname}}</td>
        <td>{{i.department}}</td>
        <td>{{i.salary}}</td>
        <td>{{i.date}}</td>
        {% if i.status%}
        <td><a href="{% url 'adminzone:send' i.fid%}">Send</a></td>
        {%else%}
        <td>Sended</td>
        {%endif%}
    </tr>
    {%endfor%}
</table>

{%endblock%}