{% extends 'adindex.html' %}
{% block body%}

    <h2 class="text-center p-5 text-primary"> View Feedback</h2>
    <table class="table table-secondary">
        <tr>
       <th>stdid</th>
       <th>stdname</th>
       <th>branch</th>
       <th>Feedtype</th>
       <th>Massege</th>
        </tr>
       {% for i in f%}
       <tr>
       <td>{{i.stdid}}</td>
       <td>{{i.stdname}}</td>
       <td>{{i.branch}}</td>
       <td>{{i.feedtype}}</td>
       <td>{{i.msg}}</td>
       </tr>
       {%endfor%}
       </table>

{% endblock %}